/* last updated:<2021/03/15/Mon 12:57:19 from:tuttle-desktop>  */
html, body, div {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #E0E0E5;
}

#main {
  display: inline-block;
  margin: 0;
  text-align: left;
  padding: 0 3% 3% 3%;
  width: 90%;
  /* min-width: 600px; */
  max-width: 1200px;
  font-size: 13pt;
  line-height: 120%;
}

#profile_wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 18pt;
}
#ubs {
  vertical-align: top;
  border-radius: 1.3em;
  width: 20%;
  min-width: 200px;
  margin-bottom: 10px;
}

*, *:before, *:after  {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* others */
h0 {
  display: block;
  font-size: 26pt;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 18pt;
}
h1:nth-child(n+2) {
  margin-top: 50px;
}

h2 {
  font-weight: normal;
  font-size: 15pt;
}

.noSel {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

/* table style */
.table {
  border-collapse: collapse;
  margin: 2% 0 4.5% 0;
  font-size: 12pt;
}
.table th, .table tr, .table td {
  border: solid 1px #000000;
  padding: 8px 20px;
}

/* link */
a {
  text-shadow: none;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* list */
li {
  margin: 0.2em;
}

/* ################ my class ################ */
.authors {
  font-size: 11.5pt;
}
